@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-family: Avenir, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 800;
}

h2 {
    font-size: 26px;
    font-weight: 500;
}

.bold {
    font-weight: bold;
}

.colors {
    width: auto;
    height: auto;
    margin: 10px 20px;
    padding: 20px;
    border: solid 2px gray;
}

.colors .colors-list{
    width: 20%;
    height: 30%;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    border-radius: 10px;
}

.colors .colors-center {
    text-align: center;
}

.fonts {
    width: auto;
    height: auto;
    margin: auto 20px;
    padding: 20px;
    border: solid 2px gray;
}

.fonts .fonts-list {
    display: inline-block;
    height: 30%;
    width: auto;
    margin-right: 20px;
}

.fonts .font-name {
    font-size: 20px;
    text-decoration: underline;
}

.italics {
    font-style: italic;
}

.text-styles {
    height: auto;
    width: auto;
    border: solid 2px gray;
    margin: 10px 20px;
    padding: 20px;
}

#opens-sans {
    font-family: "Open Sans", sans-serif;
}

#mint-box {
    background-color: rgb(168, 245, 219);
}

#dusty-rose-box {
    background-color: rgb(245, 209, 205);
}

#ivory-box {
    background-color: rgb(238, 238, 221);
}

#main-heading {
    font-weight: 800px;
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
}

#slate-gray-box {
    background-color: rgb(94, 88, 88);
}

#subheading {
    font-weight: 500;
    font-size: 26px;
}